body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 125%;
  background-color: cornflowerblue;
}

header{
  background-color:burlywood;
  display: grid
}	

nav{
  background-color:darkgoldenrod;
  text-align: center;
}
	
main{
  background-color:aquamarine;
  font-size: large;
  text-align: center;
}

footer{
  background-color:burlywood
}

li{
  display: inline-block;
  width: 30%;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background-color:blanchedalmond;
}

li:hover{
  background-color:burlywood;
}

h1{
  text-align: center;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rebeccapurple;
}

p{
  line-height:175%;
}